.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2em 2.4em;
  font-size: 1rem;
  color: $white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  background-color: $primary;
  border: 2px solid $primary;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px $primary;
  cursor: pointer;
  transition: color 0.4s ease, background-color 0.4s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  &:hover {
    color: $primary;
    background-color: $white;
  }
  &:active {
    transform: translateY(2px);
  }
  &.clear {
    color: $dark;
    border-color: $dark;
    background-color: $white;
    box-shadow: 0px 0px 4px 0px $dark;
    &:hover {
      color: $white;
      background-color: $primary;
      border-color: $primary;
      box-shadow: 0px 0px 4px 0px $primary;
    }
  }
}

.rocket {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  border-radius: 5px;
  border: none;
  color: $white;
  font-size: 1.4em;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  &:active {
    transform: translateY(2px);
  }
}

.timeline {
  background-color: $light-grey;
  padding: 6em 1em;
  &__content {
    max-width: $desktop;
    border-radius: 15px;
    margin: 0 auto;
  }
  &__head {
    background-color: $dark;
    border: 2px solid $dark;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    &-list {
      display: flex;
      justify-content: space-around;
      max-width: 30%;
      padding: 0 2em;
      margin: 0 auto;
      @media (max-width: $tablet) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    &-item {
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: 600;
      letter-spacing: 0.1em;
      cursor: pointer;
      padding: 2em 0;
      color: $white;
      opacity: 0.5;
      transition: opacity 0.2s ease;
      &.active {
        border-bottom: 5px solid $primary;
        opacity: 1;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  &__container {
    border: 2px solid $light-grey;
    border-top: 0;
    border-radius: 0 0 15px 15px;
    background-color: $white;
  }
  &__list {
    padding: 2em 0 2em 20%;
    position: relative;
    &::before {
      content: "";
      width: 1px;
      height: 74%;
      background-color: #c4c4c4;
      position: absolute;
      top: 10%;
      left: 10%;
      transform: translateX(-50%);
      @media (min-width: $tablet) {
        top: 10%;
        height: 73%;
      }
    }
  }
  &__item {
    padding: 2em;
    position: relative;
    &::before {
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid #c4c4c4;
      border-radius: 50%;
      position: absolute;
      background-color: $white;
      top: 30px;
      left: -12.5%;
      transform: translateX(-50%);
    }
    &:first-child {
      &::after {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
        background-color: $primary;
        top: 40px;
        left: -12.5%;
        transform: translateX(-50%);
      }
    }
    &-date {
      opacity: 0.5;
    }
    &-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0.7em 0;
      div {
        width: 78%;
        @media (max-width: $tablet) {
          width: 100%;
          margin-bottom: 1em;
        }
      }
      @media (max-width: $tablet) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
      }
    }
    &-title {
      font-weight: 500;
    }
    &-buy {
      color: $dark;
      font-weight: 700;
      transition: color 0.2s ease;
      &:hover {
        color: $primary;
      }
    }
    &-desc {
      opacity: 0.6;
    }
  }
}

.latestRel {
  max-width: $desktop;
  margin: 0 auto;
  padding: 1em;
  &__title {
    margin-top: 3em;
    text-align: center;
    color: $dark;
    text-transform: capitalize;
  }
  &__text {
    width: 80%;
    margin: 0 auto;
    padding-top: 1em;
    text-align: center;
    color: $dark;
    opacity: .8;
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3em 0;
    flex-wrap: wrap;
    li {
      margin-bottom: 1em;
      img {
        max-width: 100%;
      }
    }
    &-title {
      text-align: center;
      text-transform: capitalize;
    }
    &-date {
      text-align: center;
    }
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  &-btn {
    margin: 1em;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $light-grey;
    &.active {
      background-color: $primary;
    }
  }
}