.discography {
  background-color: $light-grey;
  width: 100%;

  .discography__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: $desktop;
    margin: 0 auto;
    padding: 4em 0;

    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1em 0;
      p {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        span:first-child {
          font-weight: 600;
        }
        span:last-child {
          font-weight: 400;
        }
      }
    }
  }
}
