.discography {
  background-color: rgb(
    240,
    233,
    233
  ); // can we declare this color as a variable
  width: 100%;

  .discography__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
    margin: 2em auto;
    align-content: space-between;

    article {
      width: 100%;
      height: auto;

      p {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        font-family: $ff-poppins; //the variable is not working may be we need to import is
        span:first-child {
          font-weight: bold;
        }
        span:last-child {
          font-weight: lighter;
        }
      }
    }

    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5em;
    }

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      gap: 1.5em;
    }
  }
}
