.home {
  &__head {
    height: 60vw;
    min-height: 200px;
    max-height: 85vh;
    background-image: url("/assets/images/homapage-banner-img.jpg");
    background-position: center;
    &-container {
    height: 100%;
    margin: 0 auto;
    padding-bottom: 6em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: $white;
      max-width: $desktop;
    }
    &-title {
      -webkit-text-stroke: 1px $white;
      font-size: 6em;
      line-height: 1em;
      color: transparent;
    }
  }
  &__music {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    &-btn {
      font-size: 2em;
      cursor: pointer;
    }
    &-player {
      width: 75%;
      height: 2px;
      margin: 0 1em;
      background-color: $white;
    }
  }
}
