// Colors 
$primary: #8121e0;
$dark-grey: #282828;
$grey: #444444;
$white: #fff;
$dark: #212121;

// Breackpoint
$mobile:320px;
$tablet: 768px;
$desktop: 1440px;

// Fonts 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
$ff-poppins: 'Poppins', sans-serif;